/*
This file is some really basic CSS just to get the example scripts to make
passably nice outputs.
 */
.Container {
  border: 1px solid #ccc;
  padding: 0 0.5rem;
  margin: 1rem 0;
  position: relative;
  background: #eee;
}

.Form {
  border-color: #eee;
  background: #fff;
}

.Form .validation-messages {
  background: #c33;
  padding: 0 0.5rem;
  border: 1px solid #c33;
  margin: 0.5rem 0;
}

.Form .validation-messages:before {
  content: "Please correct the following";
  display: block;
  color: #fff;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 0.75rem;
}

.Form .validation-message {
  background: #fff;
  padding: 0.5rem;
  margin: 0.5rem 0;
  color: #900;
}

.Form .validation-message a {
  text-decoration: none;
  color: #900;
}

.FieldWrapper {
  margin: 0.5rem 0;
}

.FieldWrapper[data-validation="invalid"] {
  background: #fee;
}

.FieldWrapper-Button {
  padding: 0;
  background: transparent;
}

.Form label {
  font-weight: bold;
  display: block;
}

.Container>label {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.Form>label {
  font-size: 1.5rem;
}

.FieldWrapper-required label:after {
  display: inline;
  content: '\2605';
  color: #39f;
  margin-left: 0.5rem;
  font-size: 0.75rem;
}

.Form>label:after {
  display: block;
  content: '\2605  indicates a required field';
  color: #39f;
  font-size: 0.75rem;
}

.Form .Button {
  display: inline-block;
  font-size: 1.5rem;
  padding: 1rem;
  background: #1E88E5;
  border: 0;
  box-shadow: 0;
  color: #fff;
  font-weight: bold;
}

.Form .Button:hover {
  background: #2196F3;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.Form .Button:active {
  background: #2979FF;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.Form .Button:disabled {
  background: #ccc;
}

.Form .Button.Submit {
  background: #43A047;
}

.Form .Button.Submit:hover {
  background: #4CAF50;
}

.Form .Button.Submit:active {
  background: #00C853;
}

.Form .Field.class-Checkbox {
  vertical-align: middle;
}

.Form .Field.class-Checkbox+label {
  display: inline-block;
  vartical-align: middle;
}

/*
progressively-enhanced ordering field
 */
.FieldWrapper-formward-ordering-field.js-active textarea {
  display:none;
}

.FieldWrapper-formward-ordering-field ul {
  margin: 0;
  padding: 0;
  list-style-type:none;
}

.FieldWrapper-formward-ordering-field li {
  margin: 0.25em 0;
  padding: 0.25em;
  background:#eee;
  transition:background-color 0.25s linear;
  cursor: grab;
  position:relative;
}

.FieldWrapper-formward-ordering-field li.deleted {
  background-color:#fee;
  color:#c00;
  text-decoration: line-through;
}

.FieldWrapper-formward-ordering-field li.dragging {
  background-color:#def;
  cursor: grabbing;
}

.FieldWrapper-formward-ordering-field .delete-button {
  display:none;
  cursor:pointer;
  position:absolute;
  top:0.25em;
  right:0.25em;
  bottom:0.25em;
  color:#c00;
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
  width:1.5em;
}

.FieldWrapper-formward-ordering-field .delete-button:hover {
  background:#c00;
  color:#fff;
}

.FieldWrapper-formward-ordering-field .delete-button:after {
  content:"\00D7";
  text-indent:0;
  text-align:center;
  display:block;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:1.5em;
}

.FieldWrapper-formward-ordering-field.FieldWrapper-deletion-allowed .delete-button {
  display:block;
}

.FieldWrapper-formward-ordering-field.FieldWrapper-deletion-allowed li {
  padding-right:2em;
}

.FieldWrapper-formward-ordering-field .add-item {
  display:none;
}

.FieldWrapper-formward-ordering-field.FieldWrapper-addition-allowed .add-item {
  display:block;
}
